In [6]:
#Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Missing Values

In [7]:
#flights = pd.read_csv("d:/flights.csv")
flights = pd.read_csv("flights.csv")
flights.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

In [8]:
# เลือกข้อมูลที่มี missing value (use isnull()) อย่างน้อย 1 ตัว (use .any(axis=1)) ในแต่ละแถว 
# df[df.method()]

#your code
#flights.isnull().sum()
f = flights[flights.isnull().any(axis = 1)]
f

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159681,2013,9,28,1214.0,-11.0,1801.0,NaN,AA,N488AA,300,EWR,DFW,NaN,1372,12.0,14.0
159854,2013,9,28,NaN,NaN,NaN,NaN,AA,N320AA,1,JFK,LAX,NaN,2475,NaN,NaN
159855,2013,9,28,NaN,NaN,NaN,NaN,US,NaN,581,EWR,CLT,NaN,529,NaN,NaN
160185,2013,9,29,1734.0,23.0,2159.0,NaN,UA,N463UA,327,EWR,PDX,NaN,2434,17.0,34.0
160286,2013,9,29,NaN,NaN,NaN,NaN,UA,NaN,331,LGA,ORD,NaN,733,NaN,NaN

In [9]:
# เลือก arr_delay ที่มีค่า missing value
flights1 = flights[flights["arr_delay"].isnull()]
flights1.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN

In [11]:
# เลือกข้อมูลทั้งหมดที่ไม่มี missing value (use dropna()) ลบข้อมูลที่มี missing อยู่
flights2_nomissing = flights.dropna()
flights2_nomissing.head(50)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
5,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0
6,2013,1,1,558.0,-2.0,924.0,7.0,UA,N29129,194,JFK,LAX,345.0,2475,5.0,58.0
7,2013,1,1,558.0,-2.0,923.0,-14.0,UA,N53441,1124,EWR,SFO,361.0,2565,5.0,58.0
8,2013,1,1,559.0,-1.0,941.0,31.0,AA,N3DUAA,707,LGA,DFW,257.0,1389,5.0,59.0
9,2013,1,1,559.0,-1.0,854.0,-8.0,UA,N76515,1187,EWR,LAS,337.0,2227,5.0,59.0
10,2013,1,1,602.0,-8.0,812.0,-8.0,DL,N971DL,1919,LGA,MSP,170.0,1020,6.0,2.0
11,2013,1,1,606.0,-4.0,858.0,-12.0,AA,N633AA,1895,EWR,MIA,152.0,1085,6.0,6.0
12,2013,1,1,606.0,-4.0,837.0,-8.0,DL,N3739P,1743,JFK,ATL,128.0,760,6.0,6.0
13,2013,1,1,607.0,0.0,858.0,-17.0,UA,N53442,1077,EWR,MIA,157.0,1085,6.0,7.0
14,2013,1,1,611.0,11.0,945.0,14.0,UA,N532UA,303,JFK,SFO,366.0,2586,6.0,11.0
15,2013,1,1,615.0,0.0,833.0,-9.0,DL,N326NB,575,EWR,ATL,120.0,746,6.0,15.0
16,2013,1,1,622.0,-8.0,1017.0,3.0,US,N807AW,245,EWR,PHX,342.0,2133,6.0,22.0
17,2013,1,1,623.0,13.0,920.0,5.0,AA,N3EMAA,1837,LGA,MIA,153.0,1096,6.0,23.0
18,2013,1,1,623.0,-4.0,933.0,1.0,UA,N459UA,496,LGA,IAH,229.0,1416,6.0,23.0
19,2013,1,1,627.0,-3.0,1018.0,0.0,US,N535UW,27,JFK,PHX,330.0,2153,6.0,27.0
20,2013,1,1,628.0,-2.0,1137.0,-3.0,AA,N3BAAA,413,JFK,SJU,192.0,1598,6.0,28.0
21,2013,1,1,628.0,-2.0,1016.0,29.0,UA,N33289,1665,EWR,LAX,366.0,2454,6.0,28.0
22,2013,1,1,629.0,-1.0,824.0,14.0,AA,N3CYAA,303,LGA,ORD,140.0,733,6.0,29.0
23,2013,1,1,629.0,-1.0,824.0,-9.0,US,N426US,1019,EWR,CLT,91.0,529,6.0,29.0
24,2013,1,1,635.0,0.0,1028.0,48.0,AA,N3GKAA,711,LGA,DFW,248.0,1389,6.0,35.0
25,2013,1,1,643.0,-3.0,922.0,-18.0,UA,N497UA,556,EWR,PBI,146.0,1023,6.0,43.0
26,2013,1,1,643.0,-2.0,837.0,-11.0,US,N178US,926,EWR,CLT,91.0,529,6.0,43.0
27,2013,1,1,644.0,8.0,931.0,-9.0,UA,N75435,1701,EWR,FLL,151.0,1065,6.0,44.0
28,2013,1,1,646.0,1.0,910.0,-6.0,UA,N569UA,883,LGA,DEN,243.0,1620,6.0,46.0
29,2013,1,1,646.0,1.0,1023.0,-7.0,UA,N38727,1496,EWR,SNA,380.0,2434,6.0,46.0
30,2013,1,1,653.0,-7.0,936.0,-33.0,DL,N327NW,1383,LGA,PBI,149.0,1035,6.0,53.0
31,2013,1,1,655.0,0.0,1021.0,-9.0,DL,N3763D,1415,JFK,SLC,294.0,1990,6.0,55.0
32,2013,1,1,655.0,-5.0,1037.0,-8.0,DL,N705TW,1865,JFK,SFO,362.0,2586,6.0,55.0
33,2013,1,1,655.0,-5.0,1002.0,-18.0,DL,N997DL,2003,LGA,MIA,161.0,1096,6.0,55.0
34,2013,1,1,656.0,-4.0,854.0,4.0,AA,N4WNAA,305,LGA,ORD,143.0,733,6.0,56.0
35,2013,1,1,656.0,-3.0,949.0,-10.0,AA,N5FMAA,1815,JFK,MCO,142.0,944,6.0,56.0
36,2013,1,1,656.0,-4.0,948.0,-23.0,UA,N24212,1115,EWR,TPA,156.0,997,6.0,56.0
37,2013,1,1,657.0,-3.0,959.0,-14.0,DL,N318NB,1879,LGA,FLL,164.0,1076,6.0,57.0
38,2013,1,1,658.0,-2.0,944.0,5.0,DL,N6703D,1547,LGA,ATL,126.0,762,6.0,58.0
39,2013,1,1,659.0,-1.0,1008.0,-7.0,AA,N3EKAA,2279,LGA,MIA,159.0,1096,6.0,59.0
40,2013,1,1,659.0,-6.0,907.0,-6.0,DL,N998DL,831,LGA,DTW,105.0,502,6.0,59.0
41,2013,1,1,659.0,-1.0,959.0,-9.0,UA,N838UA,960,EWR,RSW,164.0,1068,6.0,59.0
42,2013,1,1,701.0,1.0,1123.0,-31.0,UA,N77296,1203,EWR,SJU,188.0,1608,7.0,1.0
43,2013,1,1,709.0,9.0,852.0,20.0,UA,N26226,1092,LGA,ORD,135.0,733,7.0,9.0
44,2013,1,1,712.0,-3.0,1023.0,-12.0,AA,N3ETAA,825,JFK,FLL,159.0,1069,7.0,12.0
45,2013,1,1,715.0,2.0,911.0,21.0,UA,N841UA,544,EWR,ORD,156.0,719,7.0,15.0
46,2013,1,1,723.0,-2.0,1013.0,-4.0,UA,N514UA,962,EWR,PBI,153.0,1023,7.0,23.0
47,2013,1,1,724.0,-6.0,1111.0,31.0,AA,N541AA,715,LGA,DFW,254.0,1389,7.0,24.0
48,2013,1,1,724.0,-1.0,1020.0,-10.0,AS,N594AS,11,EWR,SEA,338.0,2402,7.0,24.0
49,2013,1,1,725.0,-5.0,1052.0,12.0,AA,N4WRAA,2083,EWR,DFW,238.0,1372,7.0,25.0

In [21]:
# เปลี่ยนค่า missing values ของ dep_delay ด้วยค่าศูนย์ (use fillna(value))
nomiss = flights["dep_delay"].fillna(0)


# ตรวจสอบว่า nomiss เป็น null หรือไม่ (use isnull()) จะให้ค่า True or False (any()) ถ้าเป็น null จะมีค่าเป็น true
#your code
nomiss.isnull().sum()

0

In [25]:
# เปลี่ยนค่า missing values  (use fillna(value) )ของ dep_delay ด้วยค่าเฉลี่ยของ dep_delay
#หรือจะใช้คำสั่ง mean_dep_delay = np.mean(flights['dep_delay'])

mean_dep_delay = flights["dep_delay"].mean()

print("ค่าเฉลี่ยของ dep_delay",mean_dep_delay)

average_nomiss = flights['dep_delay'].fillna(mean_dep_delay)

ค่าเฉลี่ยของ dep_delay 9.46377305609211

In [26]:
average_nomiss

0          2.0
1          4.0
2          2.0
3         -6.0
4         -4.0
          ...
160749    -1.0
160750    21.0
160751     0.0
160752    -7.0
160753    80.0
Name: dep_delay, Length: 160754, dtype: float64

In [27]:
# นับจำนวน missing values (use sum()) ที่อยู่ในแต่ละ dep_delay, arr_delay attribute

# your code
flights["dep_delay","arr_delay"].sum()

KeyError: ('dep_delay', 'arr_delay')

In [ ]:
#นับจำนวน missing value ของ dep_delay และ arr_delay ทั้งหมด

# your code

---
### Common Aggregation Functions:

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|count   | number of non-null observations
|sum   | sum of values
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|prod   | product of values
|std  | standard deviation
|var | unbiased variance

In [28]:
# Find the number of non-missing values in each column
# นับจำนวนที่ไม่ใช่ missing value ของแต่ละ attribute

# your code
flights.count()

year         160754
month        160754
day          160754
dep_time     158418
dep_delay    158418
arr_time     158275
arr_delay    157927
carrier      160754
tailnum      159321
flight       160754
origin       160754
dest         160754
air_time     157927
distance     160754
hour         158418
minute       158418
dtype: int64

In [ ]:
# Find minimum value for all the columns in the dataset

# your code

In [ ]:
#หาค่าเฉลี่ยของ (use .mean()) dep_delay แยกตามกลุ่ม carrier (use groupby())

# your code

In [ ]:
#ใช้ agg() method เพื่อหา min, max, mean  ของ dep_delay,arr_delay

# your code

### Basic descriptive statistics

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|std  | standard deviation
|var | unbiased variance
|sem | standard error of the mean
|skew| sample skewness
|kurt|kurtosis
|quantile| value at %

In [8]:
# คำนวณหาค่าสถิติพื้นฐานของ dep_delay (use describe())

# your code
flights.describe()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,flight,air_time,distance,hour,minute
count,160754.0,160754.000000,160754.000000,158418.000000,158418.000000,158275.000000,157927.000000,160754.000000,157927.000000,160754.000000,158418.000000,158418.000000
mean,2013.0,6.547395,15.716567,1316.146006,9.463773,1517.471161,2.094537,1156.344987,180.685158,1282.445420,12.837582,32.387847
std,0.0,3.410001,8.762794,470.823715,36.545109,510.695413,41.479349,695.884283,97.507866,765.895383,4.725552,18.687423
min,2013.0,1.000000,1.000000,1.000000,-33.000000,1.000000,-75.000000,1.000000,21.000000,17.000000,0.000000,0.000000
25%,2013.0,4.000000,8.000000,855.000000,-5.000000,1112.000000,-19.000000,504.000000,111.000000,733.000000,8.000000,16.000000
50%,2013.0,7.000000,16.000000,1345.000000,-2.000000,1541.000000,-7.000000,1157.000000,153.000000,1076.000000,13.000000,32.000000
75%,2013.0,10.000000,23.000000,1725.000000,7.000000,1944.000000,9.000000,1715.000000,258.000000,1728.000000,17.000000,51.000000
max,2013.0,12.000000,31.000000,2400.000000,1014.000000,2400.000000,1007.000000,2599.000000,695.000000,4963.000000,24.000000,59.000000

In [9]:
# Count the number of records for each different value in a vector
#เหมือน flights.groupby('carrier')['carrier'].count()  (use value_counts() )

# your code
flights.groupby('origin')['day'].count()

origin
EWR    59035
JFK    42013
LGA    59706
Name: day, dtype: int64

In [ ]:
# use count()