Import Python Libraries

In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

read your csv

In [3]:
air = pd.read_csv("Airbnb_Open_Data.csv")
air.head()

C:\Users\user\AppData\Local\Temp\ipykernel_20932\574909414.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  air = pd.read_csv("Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

---
### Common Aggregation Functions:

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|count   | number of non-null observations
|sum   | sum of values
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|prod   | product of values
|std  | standard deviation
|var | unbiased variance

---
### Basic descriptive statistics:

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|std  | standard deviation
|var | unbiased variance
|sem | standard error of the mean
|skew| sample skewness
|kurt|kurtosis
|quantile| value at %

### Missing Values

ตรวจสอบว่าข้อมูลที่อยู่ในไฟล์ csv มี missing value หรือไม่

In [4]:
air.isnull()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
102595,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
102596,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,True,True
102597,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
102598,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,True,True

In [18]:
air.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

นับจำนวนค่าที่ไม่เป็น missing value

In [7]:
air.dropna().sum()

id                                                                          7139598
NAME                                             Cozy 1 BR on Bedford Avenue, Wburg
host id                                                                 73023181304
host_identity_verified                                                     verified
host name                                                                 Christina
neighbourhood group                                                        Brooklyn
neighbourhood                                                          Williamsburg
lat                                                                        40.71764
long                                                                      -73.95689
country                                                               United States
country code                                                                     US
instant_bookable                                                               True
cancellation_policy                                                          strict
room type                                                              Private room
Construction year                                                            2010.0
price                                                                         $702
service fee                                                                   $140
minimum nights                                                                  1.0
number of reviews                                                               1.0
last review                                                                1/3/2016
reviews per month                                                              0.02
review rate number                                                              1.0
calculated host listings count                                                  1.0
availability 365                                                              191.0
house_rules                       Dear Guest, Thank you for appreciating that I ...
license                                                                    41662/AL
dtype: object

เลือกวิธีการที่เหมาะสมสำหรับจัดการกับค่า missing value

In [12]:
air_avg = air["minimum nights"].mean()
night_nomiss = air['minimum nights'].fillna(air_avg)
night_nomiss

0         10.0
1         30.0
2          3.0
3         30.0
4         10.0
          ...
102594     1.0
102595     1.0
102596     3.0
102597     2.0
102598     1.0
Name: minimum nights, Length: 102599, dtype: float64

In [19]:
air_avg = air["reviews per month"].mean()
month_nomiss = air["reviews per month"].fillna(air_avg)
month_nomiss

0         0.210000
1         0.380000
2         1.374022
3         4.640000
4         0.100000
            ...
102594    1.374022
102595    0.020000
102596    1.374022
102597    0.100000
102598    1.374022
Name: reviews per month, Length: 102599, dtype: float64

In [20]:
air_avg = air["review rate number"].mean()
num_nomiss = air["review rate number"].fillna(air_avg)
num_nomiss

0         4.0
1         4.0
2         5.0
3         4.0
4         3.0
         ...
102594    3.0
102595    2.0
102596    5.0
102597    3.0
102598    3.0
Name: review rate number, Length: 102599, dtype: float64

In [21]:
air_avg = air["availability 365"].mean()
avi_nomiss = air["availability 365"].fillna(air_avg)
avi_nomiss

0         286.0
1         228.0
2         352.0
3         322.0
4         289.0
          ...
102594    227.0
102595    395.0
102596    342.0
102597    386.0
102598     69.0
Name: availability 365, Length: 102599, dtype: float64

อธิบายเหตุผลที่เลือวิธีดังกล่าว สั้นๆพอได้ใจครับ