###  Read CSV

In [1]:
import pandas as pd
import numpy as np

In [2]:
loandata = pd.read_csv('loan_datawithoutnull.csv')

In [3]:
loandata

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
5,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
6,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
7,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
8,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
9,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
10,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
11,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
12,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
13,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
14,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
15,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
16,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
17,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
18,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y
19,LP001112,Female,Yes,0,Graduate,No,3667,1459.0,144.0,360.0,1.0,Semiurban,Y
20,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban,Y
21,LP001119,Male,No,0,Graduate,No,3600,0.0,80.0,360.0,1.0,Urban,N
22,LP001120,Male,No,0,Graduate,No,1800,1213.0,47.0,360.0,1.0,Urban,Y
23,LP001131,Male,Yes,0,Graduate,No,3941,2336.0,134.0,360.0,1.0,Semiurban,Y
24,LP001138,Male,Yes,1,Graduate,No,5649,0.0,44.0,360.0,1.0,Urban,Y
25,LP001144,Male,Yes,0,Graduate,No,5821,0.0,144.0,360.0,1.0,Urban,Y
26,LP001146,Female,Yes,0,Graduate,No,2645,3440.0,120.0,360.0,0.0,Urban,N
27,LP001151,Female,No,0,Graduate,No,4000,2275.0,144.0,360.0,1.0,Semiurban,Y
28,LP001155,Female,Yes,0,Not Graduate,No,1928,1644.0,100.0,360.0,1.0,Semiurban,Y
29,LP001157,Female,No,0,Graduate,No,3086,0.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,LP002768,Male,No,0,Not Graduate,No,3358,0.0,80.0,36.0,1.0,Semiurban,N
279,LP002772,Male,No,0,Graduate,No,2526,1783.0,145.0,360.0,1.0,Rural,Y
280,LP002776,Female,No,0,Graduate,No,5000,0.0,103.0,360.0,0.0,Semiurban,N
281,LP002777,Male,Yes,0,Graduate,No,2785,2016.0,110.0,360.0,1.0,Rural,Y
282,LP002789,Male,Yes,0,Graduate,No,3593,4266.0,132.0,180.0,0.0,Rural,N
283,LP002792,Male,Yes,1,Graduate,No,5468,1032.0,26.0,360.0,1.0,Semiurban,Y
284,LP002807,Male,Yes,2,Not Graduate,No,3675,242.0,108.0,360.0,1.0,Semiurban,Y
285,LP002821,Male,No,0,Not Graduate,Yes,5800,0.0,132.0,360.0,1.0,Semiurban,Y
286,LP002836,Male,No,0,Graduate,No,3333,0.0,70.0,360.0,1.0,Urban,Y
287,LP002837,Male,Yes,3+,Graduate,No,3400,2500.0,123.0,360.0,0.0,Rural,N
288,LP002840,Female,No,0,Graduate,No,2378,0.0,9.0,360.0,1.0,Urban,N
289,LP002841,Male,Yes,0,Graduate,No,3166,2064.0,104.0,360.0,0.0,Urban,N
290,LP002863,Male,Yes,3+,Graduate,No,6406,0.0,150.0,360.0,1.0,Semiurban,N
291,LP002868,Male,Yes,2,Graduate,No,3159,461.0,108.0,84.0,1.0,Urban,Y
292,LP002874,Male,No,0,Graduate,No,3229,2739.0,110.0,360.0,1.0,Urban,Y
293,LP002877,Male,Yes,1,Graduate,No,1782,2232.0,107.0,360.0,1.0,Rural,Y
294,LP002893,Male,No,0,Graduate,No,1836,33837.0,90.0,360.0,1.0,Urban,N
295,LP002894,Female,Yes,0,Graduate,No,3166,0.0,36.0,360.0,1.0,Semiurban,Y
296,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
297,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
298,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
299,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
300,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
301,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
302,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
303,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
304,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
305,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
306,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
307,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
loandata.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Predicte **Loan_Status**

**About the loan_data.csv file:**


* Loan_ID: A unique loan ID.
* Gender: Either male or female.
* Married: Weather Married(yes) or Not Marttied(No).
* Dependents: Number of persons depending on the client.
* Education: Applicant Education(Graduate or Undergraduate).
* Self_Employed: Self-employed (Yes/No).
* ApplicantIncome: Applicant income.
* CoapplicantIncome: Co-applicant income.
* LoanAmount: Loan amount in thousands.
* Loan_Amount_Term: Terms of the loan in months.
* Credit_History: Credit history meets guidelines.
* Property_Area: Applicants are living either Urban, Semi-Urban or Rural.
* Loan_Status: Loan approved (Y/N).

In [5]:
loandata.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

Converting string labels into numbers (Import LabelEncoder)

In [6]:
# Import LabelEncoder
from sklearn import preprocessing

#creating labelEncoder
number = preprocessing.LabelEncoder()

loandata['Gender'] = number.fit_transform(loandata['Gender'])
loandata['Married'] = number.fit_transform(loandata['Married'])
loandata['Dependents'] = number.fit_transform(loandata['Dependents'])
loandata['Education'] = number.fit_transform(loandata['Education'])
loandata['Self_Employed'] = number.fit_transform(loandata['Self_Employed'])
loandata['Property_Area'] = number.fit_transform(loandata['Property_Area'])

print(loandata)

      Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0    LP001003       1        1           1          0              0
1    LP001005       1        1           0          0              1
2    LP001006       1        1           0          1              0
3    LP001008       1        0           0          0              0
4    LP001013       1        1           0          1              0
5    LP001024       1        1           2          0              0
6    LP001029       1        0           0          0              0
7    LP001030       1        1           2          0              0
8    LP001032       1        0           0          0              0
9    LP001036       0        0           0          0              0
10   LP001038       1        1           0          1              0
11   LP001043       1        1           0          1              0
12   LP001047       1        1           0          1              0
13   LP001068       1        1           0          0              0
14   LP001073       1        1           2          1              0
15   LP001086       1        0           0          1              0
16   LP001095       1        0           0          0              0
17   LP001097       1        0           1          0              1
18   LP001098       1        1           0          0              0
19   LP001112       0        1           0          0              0
20   LP001116       1        0           0          1              0
21   LP001119       1        0           0          0              0
22   LP001120       1        0           0          0              0
23   LP001131       1        1           0          0              0
24   LP001138       1        1           1          0              0
25   LP001144       1        1           0          0              0
26   LP001146       0        1           0          0              0
27   LP001151       0        0           0          0              0
28   LP001155       0        1           0          1              0
29   LP001157       0        0           0          0              0
..        ...     ...      ...         ...        ...            ...
278  LP002768       1        0           0          1              0
279  LP002772       1        0           0          0              0
280  LP002776       0        0           0          0              0
281  LP002777       1        1           0          0              0
282  LP002789       1        1           0          0              0
283  LP002792       1        1           1          0              0
284  LP002807       1        1           2          1              0
285  LP002821       1        0           0          1              1
286  LP002836       1        0           0          0              0
287  LP002837       1        1           3          0              0
288  LP002840       0        0           0          0              0
289  LP002841       1        1           0          0              0
290  LP002863       1        1           3          0              0
291  LP002868       1        1           2          0              0
292  LP002874       1        0           0          0              0
293  LP002877       1        1           1          0              0
294  LP002893       1        0           0          0              0
295  LP002894       0        1           0          0              0
296  LP002911       1        1           1          0              0
297  LP002916       1        1           0          0              0
298  LP002917       0        0           0          1              0
299  LP002926       1        1           2          0              1
300  LP002928       1        1           0          0              0
301  LP002936       1        1           0          0              0
302  LP002940       1        0           0          1              0
303  LP002953       1        1           3          0              0
304  LP002974       1        1           0          0              0
305  LP002978       0        0           0          0              0
306  LP002979       1        1           3          0              0
307  LP002990       0        0           0          0              1

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               4583             1508.0       128.0             360.0
1               3000                0.0        66.0             360.0
2               2583             2358.0       120.0             360.0
3               6000                0.0       141.0             360.0
4               2333             1516.0        95.0             360.0
5               3200              700.0        70.0             360.0
6               1853             2840.0       114.0             360.0
7               1299             1086.0        17.0             120.0
8               4950                0.0       125.0             360.0
9               3510                0.0        76.0             360.0
10              4887                0.0       133.0             360.0
11              7660                0.0       104.0             360.0
12              2600             1911.0       116.0             360.0
13              2799             2253.0       122.0             360.0
14              4226             1040.0       110.0             360.0
15              1442                0.0        35.0             360.0
16              3167                0.0        74.0             360.0
17              4692                0.0       106.0             360.0
18              3500             1667.0       114.0             360.0
19              3667             1459.0       144.0             360.0
20              3748             1668.0       110.0             360.0
21              3600                0.0        80.0             360.0
22              1800             1213.0        47.0             360.0
23              3941             2336.0       134.0             360.0
24              5649                0.0        44.0             360.0
25              5821                0.0       144.0             360.0
26              2645             3440.0       120.0             360.0
27              4000             2275.0       144.0             360.0
28              1928             1644.0       100.0             360.0
29              3086                0.0       120.0             360.0
..               ...                ...         ...               ...
278             3358                0.0        80.0              36.0
279             2526             1783.0       145.0             360.0
280             5000                0.0       103.0             360.0
281             2785             2016.0       110.0             360.0
282             3593             4266.0       132.0             180.0
283             5468             1032.0        26.0             360.0
284             3675              242.0       108.0             360.0
285             5800                0.0       132.0             360.0
286             3333                0.0        70.0             360.0
287             3400             2500.0       123.0             360.0
288             2378                0.0         9.0             360.0
289             3166             2064.0       104.0             360.0
290             6406                0.0       150.0             360.0
291             3159              461.0       108.0              84.0
292             3229             2739.0       110.0             360.0
293             1782             2232.0       107.0             360.0
294             1836            33837.0        90.0             360.0
295             3166                0.0        36.0             360.0
296             2787             1917.0       146.0             360.0
297             2297             1522.0       104.0             360.0
298             2165                0.0        70.0             360.0
299             2726                0.0       106.0             360.0
300             3000             3416.0        56.0             180.0
301             3859             3300.0       142.0             180.0
302             3833                0.0       110.0             360.0
303             5703                0.0       128.0             360.0
304             3232             1950.0       108.0             360.0
305             2900                0.0        71.0             360.0
306             4106                0.0        40.0             180.0
307             4583                0.0       133.0             360.0

     Credit_History  Property_Area Loan_Status
0               1.0              0           N
1               1.0              2           Y
2               1.0              2           Y
3               1.0              2           Y
4               1.0              2           Y
5               1.0              2           Y
6               1.0              0           N
7               1.0              2           Y
8               1.0              2           Y
9               0.0              2           N
10              1.0              0           N
11              0.0              2           N
12              0.0              1           N
13              1.0              1           Y
14              1.0              2           Y
15              1.0              2           N
16              1.0              2           N
17              1.0              0           N
18              1.0              1           Y
19              1.0              1           Y
20              1.0              1           Y
21              1.0              2           N
22              1.0              2           Y
23              1.0              1           Y
24              1.0              2           Y
25              1.0              2           Y
26              0.0              2           N
27              1.0              1           Y
28              1.0              1           Y
29              1.0              1           Y
..              ...            ...         ...
278             1.0              1           N
279             1.0              0           Y
280             0.0              1           N
281             1.0              0           Y
282             0.0              0           N
283             1.0              1           Y
284             1.0              1           Y
285             1.0              1           Y
286             1.0              2           Y
287             0.0              0           N
288             1.0              2           N
289             0.0              2           N
290             1.0              1           N
291             1.0              2           Y
292             1.0              2           Y
293             1.0              0           Y
294             1.0              2           N
295             1.0              1           Y
296             0.0              0           N
297             1.0              2           Y
298             1.0              1           Y
299             0.0              1           N
300             1.0              1           Y
301             1.0              0           Y
302             1.0              0           Y
303             1.0              2           Y
304             1.0              0           Y
305             1.0              0           Y
306             1.0              0           Y
307             0.0              1           N

[308 rows x 13 columns]

sklearn library, which can be found in sklearn.naive_bayes:

sklearn.naive_bayes.CategoricalNB:
    for using Naive Bayes on categorical predictor variables.
            
sklearn.naive_bayes.GaussianNB:
    for Naive Bayes on numerical predictor variables, with the assumption
    that these variables follow Gaussian distribution.
    
sklearn.naive_bayes.MultinomialNB:
    the predictor variables represent the counts, a popular application
    is in text classification. Fractional counts like tf-idf may also work.
    
sklearn.naive_bayes.ComplementNB:
    A modification of MultinomialNB which is suitable for imbalanced datasets.
    
sklearn.naive_bayes.BernoulliNB:
    assumes the data follows Bernoulli distribution (i.e. possible values of
    predictor variables are 0 and 1).

## NEW DATA SET

In [7]:
# List ที่มี dict
newdata = [{'Gender': 1, 'Married': 1, 'Dependents': 0, 'Education': 1, 'Self_Employed': 0, 'ApplicantIncome': 3095, 'CoapplicantIncome': 0.0, 'LoanAmount': 113.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 1}, 
           {'Gender': 0, 'Married': 1, 'Dependents': 0, 'Education': 1, 'Self_Employed': 0, 'ApplicantIncome': 3400, 'CoapplicantIncome': 3541.0, 'LoanAmount': 120.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 1}, 
         {'Gender': 1, 'Married': 1, 'Dependents': 3, 'Education': 0, 'Self_Employed': 0, 'ApplicantIncome': 3691, 'CoapplicantIncome': 1666.0, 'LoanAmount': 112.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 1}, 
           {'Gender': 1, 'Married': 0, 'Dependents': 2, 'Education': 0, 'Self_Employed': 0, 'ApplicantIncome': 6500, 'CoapplicantIncome': 0.0, 'LoanAmount': 125.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 0}, 
        {'Gender': 1, 'Married': 1, 'Dependents': 0, 'Education': 0, 'Self_Employed': 0, 'ApplicantIncome': 3033, 'CoapplicantIncome': 1668.0, 'LoanAmount': 130.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 0.0, 'Property_Area': 1}, 
           {'Gender': 1, 'Married': 0, 'Dependents': 2, 'Education': 1, 'Self_Employed': 0, 'ApplicantIncome': 2060, 'CoapplicantIncome': 0.0, 'LoanAmount': 95.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 2}, 
         {'Gender': 0, 'Married': 0, 'Dependents': 0, 'Education': 0, 'Self_Employed': 0, 'ApplicantIncome': 4230, 'CoapplicantIncome': 1522.0, 'LoanAmount': 100.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 0}, 
           {'Gender': 1, 'Married': 0, 'Dependents': 0, 'Education': 0, 'Self_Employed': 0, 'ApplicantIncome': 2708, 'CoapplicantIncome': 2336.0, 'LoanAmount': 141.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 2}, 
         {'Gender': 1, 'Married': 1, 'Dependents': 3, 'Education': 0, 'Self_Employed': 0, 'ApplicantIncome': 1299, 'CoapplicantIncome': 1483.0, 'LoanAmount': 80.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 1}, 
           {'Gender': 1, 'Married': 1, 'Dependents': 0, 'Education': 0, 'Self_Employed': 0, 'ApplicantIncome': 8750, 'CoapplicantIncome': 0.0, 'LoanAmount': 100.0, 'Loan_Amount_Term': 360.0, 'Credit_History': 1.0, 'Property_Area': 2}
]
newdata

[{'Gender': 1,
  'Married': 1,
  'Dependents': 0,
  'Education': 1,
  'Self_Employed': 0,
  'ApplicantIncome': 3095,
  'CoapplicantIncome': 0.0,
  'LoanAmount': 113.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 1},
 {'Gender': 0,
  'Married': 1,
  'Dependents': 0,
  'Education': 1,
  'Self_Employed': 0,
  'ApplicantIncome': 3400,
  'CoapplicantIncome': 3541.0,
  'LoanAmount': 120.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 1},
 {'Gender': 1,
  'Married': 1,
  'Dependents': 3,
  'Education': 0,
  'Self_Employed': 0,
  'ApplicantIncome': 3691,
  'CoapplicantIncome': 1666.0,
  'LoanAmount': 112.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 1},
 {'Gender': 1,
  'Married': 0,
  'Dependents': 2,
  'Education': 0,
  'Self_Employed': 0,
  'ApplicantIncome': 6500,
  'CoapplicantIncome': 0.0,
  'LoanAmount': 125.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 0},
 {'Gender': 1,
  'Married': 1,
  'Dependents': 0,
  'Education': 0,
  'Self_Employed': 0,
  'ApplicantIncome': 3033,
  'CoapplicantIncome': 1668.0,
  'LoanAmount': 130.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 0.0,
  'Property_Area': 1},
 {'Gender': 1,
  'Married': 0,
  'Dependents': 2,
  'Education': 1,
  'Self_Employed': 0,
  'ApplicantIncome': 2060,
  'CoapplicantIncome': 0.0,
  'LoanAmount': 95.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 2},
 {'Gender': 0,
  'Married': 0,
  'Dependents': 0,
  'Education': 0,
  'Self_Employed': 0,
  'ApplicantIncome': 4230,
  'CoapplicantIncome': 1522.0,
  'LoanAmount': 100.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 0},
 {'Gender': 1,
  'Married': 0,
  'Dependents': 0,
  'Education': 0,
  'Self_Employed': 0,
  'ApplicantIncome': 2708,
  'CoapplicantIncome': 2336.0,
  'LoanAmount': 141.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 2},
 {'Gender': 1,
  'Married': 1,
  'Dependents': 3,
  'Education': 0,
  'Self_Employed': 0,
  'ApplicantIncome': 1299,
  'CoapplicantIncome': 1483.0,
  'LoanAmount': 80.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 1},
 {'Gender': 1,
  'Married': 1,
  'Dependents': 0,
  'Education': 0,
  'Self_Employed': 0,
  'ApplicantIncome': 8750,
  'CoapplicantIncome': 0.0,
  'LoanAmount': 100.0,
  'Loan_Amount_Term': 360.0,
  'Credit_History': 1.0,
  'Property_Area': 2}]

In [8]:
type(newdata)

list

In [9]:
len(newdata)

10

In [10]:
test = list(newdata[0].values())
print(test)

[1, 1, 0, 1, 0, 3095, 0.0, 113.0, 360.0, 1.0, 1]

In [11]:
print(type(test))
print(len(test))

<class 'list'>
11

In [12]:
allLoanList = []

In [13]:
for i in range(len(newdata)):
    allLoanList.append(list(newdata[i].values()))

In [14]:
print(allLoanList)
print(len(allLoanList))

[[1, 1, 0, 1, 0, 3095, 0.0, 113.0, 360.0, 1.0, 1], [0, 1, 0, 1, 0, 3400, 3541.0, 120.0, 360.0, 1.0, 1], [1, 1, 3, 0, 0, 3691, 1666.0, 112.0, 360.0, 1.0, 1], [1, 0, 2, 0, 0, 6500, 0.0, 125.0, 360.0, 1.0, 0], [1, 1, 0, 0, 0, 3033, 1668.0, 130.0, 360.0, 0.0, 1], [1, 0, 2, 1, 0, 2060, 0.0, 95.0, 360.0, 1.0, 2], [0, 0, 0, 0, 0, 4230, 1522.0, 100.0, 360.0, 1.0, 0], [1, 0, 0, 0, 0, 2708, 2336.0, 141.0, 360.0, 1.0, 2], [1, 1, 3, 0, 0, 1299, 1483.0, 80.0, 360.0, 1.0, 1], [1, 1, 0, 0, 0, 8750, 0.0, 100.0, 360.0, 1.0, 2]]
10

### Naive Bayes

#### Import Library of Naive Bayes

In [15]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

In [16]:
loandata.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

### GaussianNB

In [17]:

NB_model = GaussianNB()

# Train the model using the training sets
NB_model.fit(loandata[['Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 
                       'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area']] 
            , loandata['Loan_Status'])

#Predict Output
predicted= NB_model.predict(allLoanList)
print("Predicted Value:", predicted)

Predicted Value: ['Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y']

### BernoulliNB

In [18]:

NB_model = BernoulliNB()

# Train the model using the training sets
NB_model.fit(loandata[['Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 
                       'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area']] 
            , loandata['Loan_Status'])

#Predict Output
predicted= NB_model.predict(allLoanList)
print("Predicted Value:", predicted)

Predicted Value: ['Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y']

### MultinomialNB

In [19]:

NB_model = MultinomialNB()

# Train the model using the training sets
NB_model.fit(loandata[['Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 
                       'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area']] 
            , loandata['Loan_Status'])

#Predict Output
predicted= NB_model.predict(allLoanList)
print("Predicted Value:", predicted)

Predicted Value: ['Y' 'N' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'Y']

### K-Nearest Neighbor

In [20]:
from sklearn.neighbors import KNeighborsClassifier

#### n_neighbors=3

In [21]:
#Create a KNN Classifier
KNN_model = KNeighborsClassifier(n_neighbors= 3)

KNN_model.fit(loandata[['Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 
                       'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area']] 
            , loandata['Loan_Status'])

#Predict Output
predicted= KNN_model.predict(allLoanList) # 1:rain, 1:hot, 0:high, 1:weak
print("Predicted Value:", predicted)

Predicted Value: ['Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y']

#### n_neighbors=5

In [22]:
#Create a KNN Classifier
KNN_model = KNeighborsClassifier(n_neighbors= 5)


KNN_model.fit(loandata[['Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 
                       'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area']] 
            , loandata['Loan_Status'])

#Predict Output
predicted= KNN_model.predict(allLoanList)
print("Predicted Value:", predicted)

Predicted Value: ['Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y']

#### n_neighbors=7

In [23]:
#Create a KNN Classifier
KNN_model = KNeighborsClassifier(n_neighbors= 7)

KNN_model.fit(loandata[['Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 
                       'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area']] 
            , loandata['Loan_Status'])

#Predict Output
predicted= KNN_model.predict(allLoanList)
print("Predicted Value:", predicted)

Predicted Value: ['Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y']