
K-Means Customer Segmentation Analysis

In [1]:
#1 Importing the librariesimport numpy as np
import numpy as np
import pandas as pd


from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns

1. อ่านไฟล์

In [3]:
data = pd.read_csv('Mall_Customers.csv')
data

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
245         246    Male   30                 297                      69
246         247  Female   56                 311                      14
247         248    Male   29                 313                      90
248         249  Female   19                 316                      32
249         250  Female   31                 325                      86

[250 rows x 5 columns]

2. แสดงผล 10 บรรทัดแรก

In [7]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

3. หาค่าสถิติพื้นฐาน

4. ดูการแจกแจง โดยแสดงกราฟแท่งของลูกค้าแยกตามเพศ มีตัวอย่างคำสั่งในการ plot หลายรูปแบบ

5. สร้าง histogram ของอายุ แบ่งเป็น 10 bin

6.ทำ scatter plot ของข้อมูล Age, Income

7.พิจารณาค่า K ที่ดีที่สุดเพื่อนำไปทำ K-Mean clustering

8. ได้ค่า k= 4 ในการจัดกลุ่มโดยวิธี K-Means

ข้อ 9 ทำ scatter plot ที่แสดง centroid