In [ ]:
# library python

In [1]:
import pandas as pd
import statsmodels.formula.api as sm
from sklearn import linear_model

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# อ่านข้อมูลจากไฟล์ excel
insur = pd.read_csv('insurance.csv')
insur.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

**Columns**

**age**: age of primary beneficiary

**sex**: insurance contractor gender, female, male

**bmi**: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

**children**: Number of children covered by health insurance / Number of dependents

**smoker**: Smoking

**region**: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

**charges**: Individual medical costs billed by health insurance

## Plot and describe the data

In [3]:
# หาความสัมพันธ์ของข้อมูล
print(insur.corr())

ValueError: could not convert string to float: 'female'

In [ ]:
# สร้าง scatter plot เพื่อดูความสัมพันธ์ของข้อมูลทั้ง 4

In [ ]:
#ใช้คำสั่ง scatter plot เพื่อดูความสัมพันธ์ทั้ง 4 ตัวแปร

# 'age', 'bmi', 'children', 'charges'
# plt.scatter(x=advert['col'],y=advert['sales'],c='r',marker='P',label='label_col')

#plt.legend(numpoints=1,loc=4)
plt.legend(loc=4)
plt.xlabel('Property')
plt.ylabel('Charges')
plt.show()

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010


## Questions
1. ความสัมพันธ์ระหว่างค่ารักษาพยาบาลและคุณสมบัติต่างๆสามารถวิเคราะห์ได้อย่างไร? สามารถคาดการณ์ผลกระทบของแต่ละคุณสมบัติที่มีผลต่อมูลค่าค่ารักษาพยาบาลได้หรือไม่? ความสัมพันธ์เป็นเส้นตรงหรือไม่
+  คุณสมบัติใด (age, bmi, children,) ที่ทำให้ค่าใช้จ่ายมากที่สุด
+  ตัวแปรแต่ละตัวมีความสัมพันธ์กันหรือไม่

In [ ]:
#Ordinary Least Squares: OLS เป็นการประมาณค่าด้วยวิธีกําลังสองน้อยที่สุดทําให้ผลรวมกําลังสองของค่า error น้อยที่สุด
# 'age', 'charges'

In [ ]:
# ใช้ scatter plot เพื่อดูความสัมพันธ์ของตัวแปร และแสดงเส้นพยากรณ์ของความสัมพันธ์ของ 2 ตัวแปร
# 'age', 'charges'


plt.xlabel('Age')
plt.ylabel('Charges')
plt.show()

## ต้องการวิเคราะห์ว่าตัวแปรอื่นๆ มีผลต่อมูลค่ายอดขายสินค้าหรือไม่
ใช้ linear regression วิเคราะห์ค่าใช้จ่ายในการโฆษณาทางวิทยุและหนังสือพิมพ์มีผลต่อมูลค่ายอดขายสินค้าหรือไม่ โดยใช้ statsmodels

In [ ]:
#  'bmi', 'charges'
# ปรับ model regression เพื่อให้ค่า error น้อยที่สุด
bmi_fit_model.summary()

In [ ]:
# ใช้ scatter plot เพื่อดูความสัมพันธ์ของตัวแปร และแสดงเส้นพยากรณ์ของความสัมพันธ์ของ 2 ตัวแปร
# 'bmi', 'charges'

plt.xlabel('Bmi')
plt.ylabel('Charges')
plt.show()

In [ ]:
#'children', 'charges'
# ปรับ model regression เพื่อให้ค่า error น้อยที่สุด
children_fit_model.summary()

In [ ]:
# ใช้ scatter plot เพื่อดูความสัมพันธ์ของตัวแปร และแสดงเส้นพยากรณ์ของความสัมพันธ์ของ 2 ตัวแปร
# 'children', 'charges'


plt.xlabel('children')
plt.ylabel('Charges')
plt.show()

In [ ]:
#ใช้ scatter plot เพื่อดูความสัมพันธ์ของตัวแปร'age', 'bmi', 'children', 'charges'และแสดงเส้นพยากรณ์ของความสัมพันธ์ของ 4 ตัวแปร

plt.scatter(x=df['age'],y=df['charges'],c='r',marker='s',label='age')
#
#
plt.legend(numpoints=1,loc=4)

plt.plot(df['age'],age_fit_model.predict(),c='r',linewidth=3)
#
#

plt.xlabel('Ad budget (Thousands of dollars)')
plt.ylabel('Sales (units of product)')
plt.show()

## Multiple Linear Regression (แทนค่าจาก dataset ที่ใช้)

**Model:**
$$
charges = -6916.2433 + 239.9945 * age + 332.0834*bmi + 542.8647	*children.
$$

In [ ]:
# 'age', 'bmi', 'children', 'charges'
#
#ad_all_ols = sm.ols(formula="sales ~ TV + newspaper", data=advert).fit()
ad_all_ols.summary()

In [ ]:
# plot ดูค่าสัมประสิทธิ์สหสัมพันธ์ (r) ของตัวแปร(use corr())
print(df.corr())
#pd.plotting.scatter_matrix(advert, figsize=(10, 10), diagonal='kde')
pd.plotting.scatter_matrix(df, figsize=(10, 10), diagonal='hist')
plt.show()

In [ ]:
# 'bmi', 'children', 'charges'
# sm.ols(formula="", data=advert).fit()
#
ad_TR_ols.summary()

In [ ]:
# 'age','children', 'charges'
#
ad_TR_ols.summary()

In [ ]:
# 'age', 'bmi', 'children', 'charges'
ad_TR_ols = sm.ols(formula="charges ~ age + bmi", data=df).fit()
ad_TR_ols.summary()